
@use "./base.scss";
@use "./custom/callouts.scss";
@use "./custom/image_grid_float.scss";
@use "./custom/explorer.scss";
@use "./custom/grid_callouts.scss";

// put your custom CSS here!
ul.overflow,
#explorer-content,.page>#quartz-body .sidebar.left,
.explorer.desktop-only {
	height: 100%;
}

ul.overflow {
	max-height: max-content;
}

.page .page-header {
	position: sticky;
	top:0;
	border-bottom: 1px solid var(--lightgray);
	background-color: var(--light);
	margin-top: 0 !important;
	padding: 2rem;
	z-index: 100;
}

hr {
	width: auto !important;
}